
.container-forget-password {
    height: 100%;
}

.container-forget-password .forget-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container-forget-password .forget-password-page .header {
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

.container-forget-password .forget-password-page .content .card {
    margin-top: 30px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-forget-password .forget-password-page .content .card .card-body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container-forget-password .forget-password-page .content .card .card-body .card-title {
   font-size: xx-large;
   font-weight: bold;
   align-self: center;
}

.container-forget-password .forget-password-page .content .card .card-body .card-text {
    margin-top: 30px;
    justify-self: center;
    align-self: center;
 }

.container-forget-password .forget-password-page .content .card .card-body .form-group {
    width: 100%;
    text-align: center;
}

.container-forget-password .forget-password-page .content .card .card-body .form-group .form-control {
    width: 100%;
    text-align: center;
}

.container-forget-password .forget-password-page .content .card .card-body .btn{
    margin-top: 50px;
}

